<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/backend/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/backend/css/public.css" media="all">
    <link rel="stylesheet" href="/assets/backend/lib/editor.md/css/editormd.css">

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">


        <form class="layui-form  layui-form-pane" action="" lay-filter="article_form">

            <div class="layui-form-item">
                <label class="layui-form-label">文章标题</label>
                <div class="layui-input-block">
                    <input type="text" name="article_name" lay-verify="title" autocomplete="off" placeholder="请输入文章标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">文章简介</label>
                <div class="layui-input-block">
                    <input type="text" name="article_summary" lay-verify="article_summary" autocomplete="off" placeholder="请输入文章简介" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">文章分类</label>
                <div class="layui-input-block">
                    <select name="article_category" lay-filter="article_category">
                        <option value=""></option>
                        <option value="0">写作</option>
                        <option value="1">阅读</option>
                        <option value="2">游戏</option>
                        <option value="3">音乐</option>
                        <option value="4">旅行</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item " pane="">
                <div class="layui-inline">
                    <label class="layui-form-label">是否置顶</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" checked="" name="top_flag" lay-skin="switch" lay-filter="top_flag" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">是否发布</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" checked="" name="open1" lay-skin="switch" lay-filter="switchTest1" >
                    </div>
                </div>

            </div>

            <!-- 第三方的Markdown编辑器 -->
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文章编辑</label>
                <span></span>
                <div id="md-content"  class="layui-input-block">
                    <textarea  name="content"  class="layui-textarea"  style="display: none"></textarea>
                </div>
            </div>



            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="add_article">立即提交</button>
                </div>
            </div>

        </form>

    </div>
</div>

<script src="/assets/backend/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/assets/backend/lib/editor.md/jquery.min.js/" charset="utf-8"></script>
<script src="/assets/backend/lib/editor.md/zepto.min.js/" charset="utf-8"></script>
<script src="/assets/backend/lib/editor.md/editormd.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , $ = layui.jquery
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        let contentEditor;
        $(function() {
             contentEditor = editormd("md-content", {
                width  : "100%",
                height : true,
                saveHTMLToTextarea: true,
                path: "/assets/backend/lib/editor.md/lib/"
            });
        });

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(top_flag)', function (data) {
            // layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
            //     offset: '6px'
            // });
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(add_article)', function (data) {
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            // const data_filed = JSON.stringify(data.field);
            const form_data = {
                "article_user": "test",
                "title": data.field.article_name,
                "top_flag": data.field.top_flag,
                "article_summary": data.field.article_summary,
                "content_md": contentEditor.getMarkdown(),
                "content_html": contentEditor.getHTML()
            }

            $.ajax({
                url: "/admin/article",
                data: form_data ,
                type: "post",
                success: function (res) {
                    if(res.status===200){
                      console.log(res)
                    }else if(res.status===500){
                        layer.msg(res.message,{time:2000})
                    }else{
                        layer.msg("请求错误",{time:2000})
                    }
                },
            })

            return false;
        });

    });
</script>

</body>
</html>